<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <!-- ==================== Head ==================== -->
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- ==================== Adsense ==================== -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-1604780004929363",
          enable_page_level_ads: true
     });
   </script>
  </head>


  <!-- ==================== Body ==================== -->
  <body class="my-body">
    <div class="flex-container">
      <!-- ==================== Header ==================== -->
      <div class="flex-header-item">

        <div class="flex-header-item-title">
          <h1>{{ page.title }}</h1>
        </div>

        <div class="flex-header-item-nav">
          <nav>
            <a href="{{site.url}}/index.html">Home</a>&nbsp;&nbsp;
            <a href="">Blog</a>&nbsp;&nbsp;
            <a href="{{site.url}}/about.html">About</a>
          </nav>
        </div>

      </div>
      <hr>
      <!-- ==================== Center ==================== -->
      <div class="flex-center-item">
        {{ content }}
      </div>
      <hr>
      <!-- ==================== Footer ==================== -->
      <div class="flex-footer-item">
        <section> &copy; 2019 <a href="{{site.authorurl}}">{{site.author}}</a>. Hosted by <a href="{{site.url}}">Github</a>.
        </section>
      </div>
    </div>
  </body>
</html>
