<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <!-- ==================== Head ==================== -->
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- ==================== Adsense ==================== -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-1604780004929363",
          enable_page_level_ads: true
     });
   </script>
  </head>


  <!-- ==================== Body ==================== -->
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
      <a href="{{site.url}/about.html}">About</a>
    </nav>

    <h1>{{ page.title }}</h1>

    <!-- ==================== Content ==================== -->
    <section>
      {{ content }}
    </section>

    <!-- ==================== Footer ==================== -->
    <footer>
      &copy; Muhammed Ahad
    </footer>
  </body>
</html>
